@font-face {
    font-family: "AvenirNextCyr-Bold";
	src: url("../fonts/AvenirNextCyr-Bold.eot");
	src: url("../fonts/AvenirNextCyr-Bold?#iefix")format("embedded-opentype"),
	url("../fonts/AvenirNextCyr-Bold.woff") format("woff"),
	url("../fonts/AvenirNextCyr-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}	
@font-face {
		font-family: "AvenirNextCyr-Demi";
		src: url("../fonts/AvenirNextCyr-Demi.eot");
		src: url("../fonts/AvenirNextCyr-Demi.eot?#iefix")format("embedded-opentype"),
		url("../fonts/AvenirNextCyr-Demi.woff") format("woff"),
		url("../fonts/AvenirNextCyr-Demi.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}
@font-face {
		font-family: "AvenirNextCyr-Medium";
		src: url("../fonts/AvenirNextCyr-Medium.eot");
		src: url("../fonts/AvenirNextCyr-Medium?#iefix")format("embedded-opentype"),
		url("../fonts/AvenirNextCyr-Medium.woff") format("woff"),
		url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}
@font-face {
		font-family: "AvenirNextCyr-Regular";
		src: url("../fonts/AvenirNextCyr-Regular.eot");
		src: url("../fonts/AvenirNextCyr-Regular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/AvenirNextCyr-Regular.woff") format("woff"),
		url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}
body {
	font-family: "AvenirNextCyr-Medium";
	color: #424242;
}
.main-block1 {
	background: url('../img/photos/bgHero@2x.jpg') no-repeat;
	padding-bottom: 158px;
}
.main-top:before {
	content: "";
	position:absolute;
	width: 100%;
	background: rgba(0,0,0,0.5);
}
.main-header {
	margin-top: 22px;
	margin-bottom: 147px;
}
.logo-w {
	width: 105px;
	height: 35px;
	background: url('../img/icons/png/logoW.png') no-repeat;
	vertical-align: middle;
}
.main-header ul {
	padding-left: 0;
	padding-top: 8px;
}
.main-header li {
	display: inline;
	list-style-type: none;
	margin-right: 23px;
}
.main-header li:last-child {
	margin-right: 0;
}
.main-header li a {
	color: #fff;
	font-family: "AvenirNextCyr-Regular";
	font-size: 18px;
}
.phone-col {
	font-family: AvenirNextCyr-Bold;
	font-size: 18px;
	color: #fff;
}
.viber, .whatsapp {
	font-size: 10px;
	float: left;
	font-family: "AvenirNextCyr-Medium";
	position: relative;
	left: 69px;
}
.viber:before {
	content:"●";
	color: #b567ff;
}
.whatsapp:before {
	content:"●";
	color: #22d77e;
	margin-left: 5px;
}
.viber-b, .whatsapp-b {
	font-size: 10px;
	font-family: "AvenirNextCyr-Medium";
	position: relative;
	display: inline;
	top: -2px;
    left: 7px;
}
.viber-b:before {
	content:"●";
	color: #b567ff;
}
.whatsapp-b:before {
	content:"●";
	color: #22d77e;
	margin-left: 5px;
}
.join-us-btn {
	padding: 0;
}
.join-us-btn a {
	border-radius: 4px;
	background-color: #ffdc46;
	display:block;
	color: #424242;
	font-family: AvenirNextCyr-Bold;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.44;
	padding: 8px 0 7px;
	margin-top: 22px;
	text-decoration: none;
}
.join-us-btn a:hover {
	background-color: #ffd41d;
}
.truy-it {
	border-radius: 6px;
	border: solid 2px #01a3ff;
	padding: 22px 15px 19px;
	color: #fff;
}
.truy-it-title {
	font-size: 28px;
	font-family: AvenirNextCyr-Demi;
}
.truy-it-descr {
	font-size: 18px;
	font-family: "AvenirNextCyr-Medium";
	line-height: 26px;
	margin: 20px 0 74px;
}
.truy-now {
	border-radius: 4px;
	border: 1px solid #01a3ff;
	background-color: #01a3ff;
	color: #fff;
	display: block;
	padding: 7px 0 5px;
	font-family: AvenirNextCyr-Bold;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.truy-now:hover {
	text-decoration: none;
	color: #01a3ff;
	background-color: inherit;
}
.main-title {
	color: #fff;	
}
.main-title h1 {
	margin-top: 40px;
	font-size: 60px;
	font-family: "AvenirNextCyr-Demi";
}
.main-description {
	font-size: 18px;
}
.main-tur {
	background-color: #fafafa;
	padding: 60px 30px 70px;
}
.main-tur-title {
	font-family: AvenirNextCyr-Demi;
	font-size: 28px;
	color: #424242;
}
.main-tur-btn {
	margin-top: 30px;
}
.main-tur-btn a {
	display: block;
	border-radius: 4px;
	border: 1px solid #01a3ff;
	background-color: #01a3ff;
	padding: 7px 0 6px;
	text-align: center;
	color: #fff;
}
.main-tur-btn a:hover {
	background-color: inherit;
	text-decoration: none;
	color: #01a3ff;
}

.main-tur-date {
	line-height: 39px;
	text-transform: uppercase;
	font-size: 18px;
	color: #424242;
	font-family: AvenirNextCyr-Regular;
}
.main-block2 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.main-block3 {
	background-color: #000;
	color: #fff;
}
.block3-title {
	margin: 120px 0 70px;
	font-size: 60px;
	font-family: AvenirNextCyr-Demi;
	text-align: center;
}
.pawn, .horse, .queen, .king {
	border-radius: 8px;
	border: solid 1px #424242;
	height: 325px;
}
.fs-descr {
	text-align: center;
	font-size: 18px;
	padding: 18px;
	line-height: 26px;
}
.pawn .fs-descr, .queen .fs-descr {
	padding-top: 30px;
}
.horse .fs-descr, .king .fs-descr {
	padding-top: 211px;
}
.horse, .king {
	margin-top: 100px;
}
.pawn {
	background: url('../img/icons/png/figureA.png') no-repeat center 135px;
}
.horse {
	background: url('../img/icons/png/figureB.png') no-repeat center 35px;
}
.queen {
	background: url('../img/icons/png/figureC.png') no-repeat center 135px;
}
.king {
	background: url('../img/icons/png/figureD.png') no-repeat center 34px;
}
.this-is {
	border-top: 1px solid #424242;
	margin-top: 160px;
	padding-top: 51px;
	font-size: 18px;
	margin-bottom: 50px;
}
.this-is div:nth-child(1) {
	font-size: 28px;
	line-height: 84px;
}
.this-is div:nth-child(2) {
	background: url('../img/icons/png/childrens.png') no-repeat;
	padding-left: 100px; 
	line-height: 84px;
}
.this-is div:nth-child(3) {
	background: url('../img/icons/png/adult.png') no-repeat;
	padding-left: 100px; 
	line-height: 84px;
}
.this-is div:nth-child(4) {
	background: url('../img/icons/png/chessguru.png') no-repeat;
	padding-left: 100px; 
	line-height: 84px;
}
.main-block4 {
	padding-top: 120px;
	padding-bottom: 60px;
}
.main-block4-t {
	font-family: AvenirNextCyr-Demi;
	font-size: 60px;
	color: #424242;
	
}
.main-block4-variation {
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 47px;
	margin-top: 42px;
}
.main-block4-variation .col-lg-9 {
	padding-right: 50px;
}
.main-block4-variation:last-child {
	border-bottom: none;
}
.main-block4-title {
	font-size: 28px;
	font-family: AvenirNextCyr-Demi;
}
.main-block4-descr {
	font-size: 18px;
}
.main-block4-time {
	font-size: 13px;
}
.main-block4-price {
	font-family: AvenirNextCyr-Demi;
	font-size: 28px;
	margin-bottom: 25px;	
}
.var1 {
	padding-left: 170px;
	background: url('../img/icons/png/personal.png') no-repeat;
}
.var2 {
	padding-left: 170px;
	background: url('../img/icons/png/house.png') no-repeat;
}
.var3 {
	padding-left: 170px;
	background: url('../img/icons/png/skype.png') no-repeat;
}
.var4 {
	padding-left: 170px;
	background: url('../img/icons/png/individ.png') no-repeat;
}
.var5 {
	padding-left: 170px;
	background: url('../img/icons/png/intelekt.png') no-repeat;
}
.main-block5 {
	background: url('../img/photos/bg_activate.png') #000 no-repeat;
	height: 1025px;
	width: 100%;
	position: relative;
}
#maevsky_hype_container div {
	background-color: inherit !important;
	
}
.HYPE_element {
	border: none;
}
.main-block6 {
	padding-top: 120px;
	padding-bottom: 140px;
}
.main-block6 .col-lg-12 {
	font-size: 60px;
	text-align: center;
	margin-bottom: 70px;
}
.main-block6 .col-lg-4 {
	font-size: 18px;
	padding: 0 20px;
}
.reviews {
	margin-top: 20px;
}
.reviews span {
	font-family: "AvenirNextCyr-Bold";
	padding-left: 5px;
}
footer {	
	height: 113px;
	background-color: #fbfbfb;
	padding: 39px 0;
}
.footer-title {
	font-size: 14px;
	font-family: "AvenirNextCyr-Regular";
}
.phone {
	font-family: "AvenirNextCyr-Bold";
	font-size: 14px;
}
.footer-btn {
	padding: 5px 35px;
	border-radius: 6px;
	border: solid 1px #01a3ff;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #01a3ff;
	display: block;
}
.footer-btn:hover {
	background-color: #01a3ff;
	color: #fff;
	text-decoration: none;
}
.vk-ico, .fb-ico {
	height: 36px;
	width: 36px;
	overflow: hidden;
	display: inline-block;
}
.vk-ico {
	background: url('../img/icons/png/social.png') no-repeat;
}
.vk-ico:hover {
	background: url('../img/icons/png/socialH.png') no-repeat;
}
.fb-ico {
	background: url('../img/icons/png/social.png') no-repeat -46px;
}
.fb-ico:hover {
	background: url('../img/icons/png/socialH.png') no-repeat -46px;
}
.lang {
	border-radius: 4px;
	border: solid 1px #01a3ff;
	display: inline-block;
	overflow: hidden;
	position: relative;
	top: 1px;
	margin-left: 30px;
}
.ru, .eng {
	padding: 9px 32px;
	font-family: "AvenirNextCyr-Bold";
	line-height: 36px;
	color: #01a3ff;
}
.ru:hover, .eng:hover {
	color: #fff;
	text-decoration: none;
	background-color: #01a3ff;
}
.active-lang {
	background-color: #01a3ff;
	color: #fff;
}
.active-lang:hover {
	color: #fff;
	text-decoration: none;
}
.main-block5 {
	display: none;
}
.mobi-jub {
	display: none;
}
/* div {border: 1px solid #c00;} */
@media (max-width: 1200px) {
	.viber, .whatsapp {
		display: inline-block;
		float: inherit;
		left: 15px;
		top: -3px;
	}
	.phone-col {
		line-height: 35px;
	}
	.join-us-btn {
		padding-top: 4px;
	}
	.main-header {
		margin-top:10px;
	}
	.main-title h1 {
		font-size: 40px;
	}
	.main-block2 {
		max-width: none;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		background-color: #fafafa;
	}

}
@media (max-width: 992px) {
	.horse {
	margin-top: 0;
	}
	.king, .queen {
		margin-top: 30px;
	}
	.main-block4-t {
		font-size: 42px;
	}
	.main-block4 {
		padding-top: 70px;
		padding-left: 0;
		padding-right: 0;
	}
	.var1, .var2, .var3, .var4, .var5 {
		background: none;
		padding-left: 15px;
	}
	.main-block4-variation .col-lg-9 {
		padding-right: 15px;
	}
	.main-block4-variation .col-md-3 {
		padding-left: 0;
	}
	.main-block5 {
	display: block;
	position: relative;
	background-position: -120px;
	}
	.mb5 {
		position: absolute;
		top:180px;
		right: 150px;
	}
	.mb5 div {
		margin-bottom: 40px;
	}
	.mb5 div:nth-child(1) {
		font-size: 42px;
		color: #fff;
		position: relative;
		top: 20px;
		left: 28px;
	}
	.mb5 div:nth-child(2) {
		width: 273px;
		height: 92px;
		border-radius: 25px;
		border: solid 2px #2180d4;
		font-size: 36px;
		color: #2180d4;
		font-family: "AvenirNextCyr-Regular";
		text-align: center;
		line-height: 92px;
	}
	.mb5 div:nth-child(3) {
		width: 273px;
		height: 92px;
		border-radius: 25px;
		border: solid 2px #e15aff;
		font-size: 36px;
		color: #e15aff;
		font-family: "AvenirNextCyr-Regular";
		text-align: center;
		line-height: 92px;
	}
	.mb5 div:nth-child(4) {
		width: 273px;
		height: 92px;
		border-radius: 25px;
		border: solid 2px #7ed321;
		font-size: 36px;
		color: #7ed321;
		font-family: "AvenirNextCyr-Regular";
		text-align: center;
		line-height: 92px;
	}
	.vk-ico, .fb-ico {
		display: none;
	}
	.footer-btn, .f-btn-wr {
		padding-left: 0;
		padding-right: 0;
	}
	.main-block1 {
		padding-bottom:93px;
	}
	.main-header {
		margin-bottom: 88px;
	}
	.main-block2 {
		padding-top: 0;
		padding-bottom: 0;
	}
	.block3-title {
		margin-top: 70px;
		font-size: 42px;
		margin-bottom: 50px;
	}
	.this-is {
		margin-top: 80px;
		padding-top: 40px;
	}
	.main-block5 {
		height: 800px;
	}
	.main-block6 {
		padding-top: 70px;
		padding-bottom: 60px;
	}
	.main-block6 .col-lg-12 {
		margin-bottom: 50px;
		font-size: 42px;
	}
}
@media (max-width: 768px) {
	.hidden-sm {
		display: none;
	}
	.main-header {
		margin: 0;
	}
	.main-header hr {
		background-color: #f1f1f1;
		opacity: 0.29;
		margin-bottom: 0;
	}
	.mobi-jub {
		display: block;
	}
	.join-us-btn a {
		margin-top: 0;
	}
	.mobi-fix {
		padding-left: 0;
		padding-right: 0;
	}
	.phone-col {
		position: relative;
	}
	.viber, .whatsapp {
		position: absolute;
		top: 16px;
	}
	.viber {
		left: 83px;
	}
	.whatsapp {
		left: 115px;
	}
	.mobi-border {
		border-top: 1px solid #f1f1f1;
	}
	.mobi-block1 {
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: #39475b;
		color: #fff;
	}
	.truy-it-descr {
		margin: 8px 0 29px;
	}
	.truy-now {
		width: 230px;
		margin: 0 auto;
	}
	.this-is div:nth-child(2), .this-is div:nth-child(3), .this-is div:nth-child(4)  {
		padding-top: 65px;
		text-align: center;
		padding-left: 15px;
		background-position: top center;
	}
	.this-is {
		margin-bottom: 0;
	}
	.main-block4-variation .col-md-3 {
		padding-left: 15px;
		margin-top: 20px;
	}
	.main-block4-variation {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	 .text-review {
		float: left;
		width: 70%;
		margin-bottom: 50px;
	 }
	.reviews {
		text-align: center;
		margin-top: 0;
	}
	.reviews img {
		 display: block;
		 margin: 0 auto;
	 }
	.reviews span {
		padding-left: 15px;
		display: block;

	}
}

